@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;500;700&display=swap');
@import "util.scss";
@import "base.scss";


body{
  font-family: 'Noto Sans TC', sans-serif;
}

.addTicketRegion{
  box-shadow: 0px 3px 6px #00000029;
  border-radius: 12px;
  padding: 3.75rem 0;
  .addTicketRegionTitle{
    color: $primaryColor;
    padding: 0.5rem 0;
    border-bottom: 3px solid $primaryColor;
  }
}

.addTicketInfo{
  label{
    width: 25%;
    margin-bottom: 0;
    color: $primaryColor;
    font-weight: 500;
  }
  input,select,textarea{
    width: 75%;
    background-color: #FAFAFA;
    border-radius: 0;
    border-color: #FAFAFA;
    border-bottom: 2px solid $primaryColor;
    cursor: pointer;
  }
  .bgPrimary:hover{
    color: $primaryColor;
    border-color: $primaryColor;
    background-color: #fff;
    font-weight: 500;
  }
}

.main{
  background-color: #F7F7F7;
}

.spotTitle{
  padding: 0.5rem 0;
  color: $primaryColor;
  font-size: $fontSizeM;
  border-bottom: 3px solid $primaryColor;
}

.spotDescribe{
  color: #818A91;
  margin: 1rem 0 2rem 0;
}

.spotListItem{
  box-shadow: 0px 3px 6px #00000029;
  &:hover{
    box-shadow: 0px 10px 20px #00000029;
  }
}

.spotRegionTag{
  color: #fff;
  background-color: #64C3BF;
  padding: 0.5rem 1rem;
  width: 80px;
  font-size: $fontSizeS;
  font-weight: 400;
  text-align: center;
  position: absolute;
  margin-top: -1rem;
  border-radius: 0 0.5rem 0.5rem 0;
}

.spotReginStar{
  position: absolute;
  width: 40px;
  padding: 0.2rem 0;
  font-weight: 400;
  text-align: center;
  margin-top: -30px;
  margin-left: -16px;
  border-radius: 0 0.25rem 0.25rem 0;
}

// .card-img-top{
//   width: 100%;
//   height: 200px;
//   object-fit: cover;
//   object-position: center;
// }

.card-footer{
  background-color: #fff;
  border: none;
}






